{% extends 'main/custom_admin/base.html' %}

{% block title %}Dashboard - School Admin{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>

<div class="row">
    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4>{{ stats.total_notices }}</h4>
                        <p class="card-text">Total Notices</p>
                    </div>
                    <div class="align-self-center">
                        <i class="fas fa-bullhorn fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card bg-success text-white">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4>{{ stats.total_teachers }}</h4>
                        <p class="card-text">Total Teachers</p>
                    </div>
                    <div class="align-self-center">
                        <i class="fas fa-chalkboard-teacher fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card bg-warning text-white">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4>{{ stats.total_other_employees }}</h4>
                        <p class="card-text">Other Employees</p>
                    </div>
                    <div class="align-self-center">
                        <i class="fas fa-users fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card bg-info text-white">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4>{{ stats.total_exam_results }}</h4>
                        <p class="card-text">Exam Results</p>
                    </div>
                    <div class="align-self-center">
                        <i class="fas fa-file-alt fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Quick Actions</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <a href="{% url 'main:notice_add' %}" class="btn btn-primary w-100">
                            <i class="fas fa-plus me-2"></i>Add Notice
                        </a>
                    </div>
                    <div class="col-md-3 mb-3">
                        <a href="{% url 'main:teacher_add' %}" class="btn btn-success w-100">
                            <i class="fas fa-plus me-2"></i>Add Teacher
                        </a>
                    </div>
                    <div class="col-md-3 mb-3">
                        <a href="{% url 'main:other_employee_add' %}" class="btn btn-warning w-100">
                            <i class="fas fa-plus me-2"></i>Add Employee
                        </a>
                    </div>
                    <div class="col-md-3 mb-3">
                        <a href="{% url 'main:exam_result_add' %}" class="btn btn-info w-100">
                            <i class="fas fa-plus me-2"></i>Add Exam Result
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Navigation</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <h6>Content Management</h6>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'main:notice_list' %}" class="text-decoration-none">Manage Notices</a></li>
                            <li><a href="{% url 'main:teacher_list' %}" class="text-decoration-none">Manage Teachers</a></li>
                            <li><a href="{% url 'main:other_employee_list' %}" class="text-decoration-none">Manage Other Employees</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-3">
                        <h6>Website Settings</h6>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'main:committee_member_list' %}" class="text-decoration-none">Committee Members</a></li>
                            <li><a href="{% url 'main:headmaster_list' %}" class="text-decoration-none">Headmasters</a></li>
                            <li><a href="{% url 'main:exam_result_list' %}" class="text-decoration-none">Exam Results</a></li>
                            <li><a href="{% url 'main:exam_type_list' %}" class="text-decoration-none">Exam Types</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-3">
                        <h6>Gallery & Media</h6>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'main:slider_list' %}" class="text-decoration-none">Homepage Sliders</a></li>
                            <li><a href="{% url 'main:gallery_category_list' %}" class="text-decoration-none">Gallery Categories</a></li>
                            <li><a href="{% url 'main:gallery_image_list' %}" class="text-decoration-none">Gallery Images</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-3">
                        <h6>School Management</h6>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'main:student_class_list' %}" class="text-decoration-none">Student Classes</a></li>
                            <li><a href="{% url 'main:student_count_list' %}" class="text-decoration-none">Student Counts</a></li>
                            <li><a href="{% url 'main:contact_info_list' %}" class="text-decoration-none">Contact Info</a></li>
                            <li><a href="{% url 'main:school_info_list' %}" class="text-decoration-none">School Info</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}